/venv
__pycache__*
installed/Big Trouble in Little China  (Original 2026) Vpxpinballwizards 1.0.0 VR.manifest.json
installed/Class of 1812 (Gottlieb 1991) UnclePaulie 3.0.22 VR.manifest.json
packages/Little Red Riding Hood (Bally 1981)UnclePaulie 2.0.7 MOD VR.zip
build/tablePackager/Analysis-00.toc
packages/Big Trouble in Little China  (Original 2026) Vpxpinballwizards 1.0.0 VR.zip
